---
import '../css/auth.css'
---
<title>
    Register
</title>
<div class="bg">
  <div class="box">
    <h1>
        Register
    </h1>
    <form action="">
        <input type="text" name="username" placeholder="username" required>
        <input type="email" name="email" placeholder="example@gmail.com" required>
        <input type="password" name="password" placeholder="max 8 char" required><br>
        <input class="auth-btn" type="submit" value="register">
    </form>
  </div>
</div>
